body { 
    font-family: Arial; margin: 30px;
 }
input {
     padding: 8px; margin: 5px; 
    }
button { 
    padding: 8px 12px; margin: 5px; cursor: pointer; 
}
table {
     margin-top: 20px; border-collapse: collapse; width: 100%;
     }
th, td {
     border: 1px solid black; padding: 8px; text-align: center; 
    }
th {
     background: #4CAF50; color: white; 
    }