<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid layout</title>
    <link rel="stylesheet" href="gridstyle.css">
</head>
<body>
    <div class="Container">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
        <div class="box">6</div>
    </div>

    <div class="layout">
        <div class="header">Header</div>
        <div class="sidebar">Sidebar</div>
        <div class="content">Content</div>
        <div class="footer">Footer</div>
    </div>
</body>
</html>
/*  css  */
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: 100px 100px;
     gap: 10px;
     column-gap: 10px;
    row-gap: 20px;
    padding: 20px; 
}
.box{
background: orange;
color: white;
grid-column: 1/3;
grid-column: span 2;
grid-row: span 4; 
text-align: center;
font-size: 20px;
padding: 40px;
}

.layout{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}
.header{
    grid-area: header;
    background: orange;

}
.sidebar{
    grid-area: sidebar;
    background: lightblue;

}
.content{
    grid-area: content;
    background: lightgreen;
}
.footer{
    grid-area: footer;
    background: gray;
}
