<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="idcard.css">
</head>
<body>
        <div class="id-card">
            <div class="ZOHO">
            <img src="WhatsApp Image 2026-02-12 at 6.47.45 PM.jpeg" alt="Profile">
           <div class="details">
            <h2>Jaheer Hussain</h2>
            <p>Student ID: S337</p>
            <p>Batch No: JW14</p>
            <p>Blood Group: B+VE</p>
            <div class="Role">Web Developer</div>
            </div>
            
            </div>
        </div>

</body>
</html>
/* css */
body{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.id-card{
width: 150px;
height: 50px;
background: orange;
box-shadow: 0 4px 10px rgba(3,2,0, 0.7);
text-align: center;

}
.header
{

    background: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    
}

.profile{

margin-top: 20px;
}
.profile image{
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 50%;
}
.details
{
    margin-top: 20px;
    font-size: 16px;


}
.details h2{
    margin: 10px 0 5px;
}
.details p{
    margin: 5px 0;
    color: white;
}

.details p{
    margin: 5px 0;
    color: white;
}
.details p{
    margin: 5px 0;
    color: white;
}
